<section class="container">
  <section class="main-content">
    <tip-input-field
      [title]="'Bill'"
      [icon]="'assets/images/icon-dollar.svg'"
      [placeholder]="billPlaceholder"
      (valueChangeEmt)="onBillAmountChange($event)"
    >
    </tip-input-field>
    <tip-selector
      [title]="'Select Tip %'"
      [amounts]="tipAmounts"
      [selectedPercentage]="selectedTipPercentage"
      (buttonSelectedEmt)="onTipSelected($event)"
    ></tip-selector>
    <tip-input-field
      [title]="'Number of People'"
      [icon]="'assets/images/icon-person.svg'"
      [placeholder]="numberOfPeople"
      (valueChangeEmt)="onNumOfPeopleEntered($event)"
    >
    </tip-input-field>
    <tip-total
      [tipAmountPerPerson]="tipAmountPerPerson"
      [totalPerPerson]="totalPerPerson"
    ></tip-total>
  </section>
</section>
